<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ══ LOCAL / TEST: logs legibles en consola ══════════════ -->
    <springProfile name="local,test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%thread] %yellow(%logger{36}) - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.nequi.ticketing" level="DEBUG"/>
    </springProfile>

    <!-- ══ PROD / STAGING: JSON estructurado para CloudWatch ═══ -->
    <springProfile name="prod,staging">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <providers>
                    <timestamp><timeZone>UTC</timeZone></timestamp>
                    <logLevel/>
                    <loggerName/>
                    <message/>
                    <mdc/>
                    <stackTrace/>
                    <arguments/>
                    <pattern>
                        <pattern>{"service":"event-management-platform","env":"${SPRING_PROFILES_ACTIVE:-unknown}"}</pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

</configuration>
